.action-panel {
  display: flex;
}

.change-date:first-of-type {
  margin-left: auto;
  margin-right: 4px;
}

.change-date:last-of-type {
  margin-left: 4px;
  margin-right: auto;
}

.change-date {
  display: flex;
  text-align: center;  
  margin-top: 5px;
  background-color: brown;
  width: 20%;  
  color: white;
  height: 50px;
  padding-top: 10px;
}

.change-date h2 {
  color: white;
  margin-top: 0;
}

.change-date span.new-reminder {
  margin: auto !important;
  margin-bottom: 10px !important;
}

.change-date span {
  cursor: pointer;
  line-height:30px;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 900;
  margin-right: auto;
  margin-left: 20px;
}

.change-date span:first-of-type {
  margin-left: auto;
  margin-right: 20px;
}


.week-days {
  list-style-type: none;
  display: flex;
  margin: auto;
  width: 80%;
  padding: 0;
}

.week-day {
 
  width: 14%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.week-day h3 {
  color: white;
  background-color: brown;
  margin-top: 5px;
  margin-bottom: 0;
}

.month-days {
  list-style-type: none;
  padding: 0;
}

.month-day {
  background-color: burlywood;
  border-bottom: solid 4px white;
  width: 100%;
  height: 150px;
  position: relative;
}

.month-day span.day-of-month  {
  color: rgb(165, 63, 63);
  font-weight: 800;
  position: absolute;
  left: 10px;
  top: 10px;
}

.month-day .delete-day {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 30px;
}


.month-day.weekend  span {
  color: rgb(23, 69, 112);
}

.month-day.not-month {
  background-color: rgb(189, 178, 165);
}

.month-day.weekend {
  background-color: rgb(197, 155, 99);
}

.reminders-list  {
  list-style-type: none;
  padding: 0;
}

.reminder {
  width: 100%;
  padding: 4px;
  padding-top: 10px;  
  display: flex;
  flex-direction: column;
}

.reminder span{
  cursor: pointer;
  color: white !important;
  display: inline-block;
  border-radius: 10px;
  width: 65%;
  margin-left: auto;
  margin-right: 15px;
  text-align: start;
  padding: 3px;
  padding-left: 8px;
  font-size: 13px;
  position: relative;
}

.reminder span svg{
  position: absolute;
  top: 30%;
  right: 10px;
} 