.reminders-list  {
  list-style-type: none;
  padding: 0;
}

.reminder {
  width: 100%;
  padding: 4px;
  padding-top: 10px;  
  display: flex;
  flex-direction: column;
}

.reminder span{
  cursor: pointer;
  color: white !important;
  display: inline-block;
  border-radius: 10px;
  width: 65%;
  margin-left: auto;
  margin-right: 15px;
  text-align: start;
  padding: 3px;
  padding-left: 8px;
  font-size: 13px;
  position: relative;
}

.reminder span svg{
  position: absolute;
  top: 30%;
  right: 10px;
} 

.week-days {
  list-style-type: none;
  display: flex;
  margin: auto;
  width: 80%;
  padding: 0;
}