.month-days {
  list-style-type: none;
  padding: 0;
}

.month-day {
  overflow: auto;
  background-color: burlywood;
  border-bottom: solid 4px white;
  width: 100%;
  height: 150px;
  position: relative;
}

.month-day span.day-of-month  {
  color: rgb(165, 63, 63);
  font-weight: 800;
  position: absolute;
  left: 10px;
  top: 10px;
}

.month-day .delete-day {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 30px;
}


.month-day.weekend  span {
  color: rgb(23, 69, 112);
}

.month-day.not-month {
  background-color: rgb(189, 178, 165);
}

.month-day.weekend {
  background-color: rgb(197, 155, 99);
}