#root {
  display: flex;
  width: 100%;
  padding-top: 20px;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: brown; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #681616; 
}

button.button {
  background-color: #555454;
  border: 1px solid #555454;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  width: 150px;
  margin: 20px 20px 0 0;
  cursor: pointer;
}

button.button:hover {
  background-color: #2e2c2c;
  border: 1px solid #2e2c2c;
}

.cursor-pointer {
  cursor: pointer;
}